numpy
scipy
pybullet
drake
trimesh
torch
torchvision
easydict
transforms3d
imageio
opencv-python
rtree
zmq
matplotlib
open3d>=0.13.0
plyfile
prefetch_generator
transforms3d
SpeechRecognition
scikit-learn
openai
pyyaml==5.4.1
opencv-python
open3d
SpeechRecognition