<?xml version="1.0" ?>
<robot name="partnet_d4f4b5bf712a96b13679ccb6aaef8b00">
	<link name="base"/>
	<link name="link_0">
		<visual name="cabinet_door_surface-7">
			<origin xyz="0.2296398290724745 0.23239700496196747 -0.18658026515364542"/>
			<geometry>
				<mesh filename="textured_objs/original-489.obj"/>
			</geometry>
		</visual>
		<visual name="handle-8">
			<origin xyz="0.2296398290724745 0.23239700496196747 -0.18658026515364542"/>
			<geometry>
				<mesh filename="textured_objs/original-488.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.2296398290724745 0.23239700496196747 -0.18658026515364542"/>
			<geometry>
				<mesh filename="textured_objs/original-489.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.2296398290724745 0.23239700496196747 -0.18658026515364542"/>
			<geometry>
				<mesh filename="textured_objs/original-488.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="revolute">
		<origin xyz="-0.2296398290724745 -0.23239700496196747 0.18658026515364542"/>
		<axis xyz="0 -1 0"/>
		<child link="link_0"/>
		<parent link="link_1"/>
		<limit lower="-0.0" upper="3.141592653589793"/>
	</joint>
	<link name="link_1">
		<visual name="shelf-10">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-490.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-11">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-491.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-12">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-492.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-13">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-486.obj"/>
			</geometry>
		</visual>
		<visual name="shelf-14">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-493.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-15">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-462.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-16">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-231.obj"/>
			</geometry>
		</visual>
		<visual name="back_panel-17">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-503.obj"/>
			</geometry>
		</visual>
		<visual name="bottom_panel-18">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-478.obj"/>
			</geometry>
		</visual>
		<visual name="top_panel-19">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-470.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-20">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-507.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-21">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-511.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-73">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-261.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-73">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-286.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-72">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-345.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-72">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-397.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-71">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-290.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-71">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-342.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-70">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-316.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-70">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-341.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-69">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-456.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-69">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-501.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-68">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-371.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-68">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-396.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-67">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-497.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-67">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-483.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-66">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-482.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-66">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-498.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-65">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-229.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-65">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-481.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-460.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-64">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-485.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-63">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-461.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-63">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-484.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-62">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-451.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-62">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-426.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-61">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-452.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-61">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-400.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-230.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-60">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-480.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-59">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-169.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-59">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-221.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-58">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-195.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-58">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-220.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-54">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-500.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-54">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-474.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-53">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-499.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-53">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-475.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-51">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-224.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-51">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-505.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-50">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-228.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-50">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-472.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-49">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-227.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-49">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-473.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-48">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-457.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-48">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-506.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-47">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-459.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-47">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-477.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-46">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-458.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-46">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-476.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-103">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-469.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-103">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-222.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-102">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-226.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-102">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-509.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-101">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-114.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-101">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-166.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-100">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-140.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-100">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-165.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-99">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-110.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-99">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-85.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-98">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-59.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-98">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-111.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-97">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-97">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-56.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-96">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-225.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-96">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-502.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-95">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-467.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-95">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-495.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-94">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-468.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-94">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-223.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-93">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-466.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-93">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-496.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-92">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-465.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-92">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-453.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-91">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-235.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-91">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-287.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-90">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-464.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-90">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-454.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-89">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-455.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-89">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-510.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-105">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-105">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-55.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-490.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-491.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-492.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-486.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-493.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-462.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-231.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-503.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-478.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-470.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-507.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-511.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-261.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-286.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-345.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-397.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-290.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-342.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-316.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-341.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-456.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-501.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-371.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-396.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-497.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-483.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-482.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-498.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-229.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-481.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-460.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-485.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-461.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-484.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-451.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-426.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-452.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-400.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-230.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-480.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-169.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-221.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-195.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-220.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-500.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-474.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-499.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-475.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-224.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-505.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-228.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-472.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-227.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-473.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-457.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-506.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-459.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-477.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-458.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-476.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-469.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-222.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-226.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-509.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-114.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-166.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-140.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-165.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-110.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-85.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-59.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-111.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-56.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-225.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-502.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-467.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-495.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-468.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-223.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-466.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-496.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-465.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-453.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-235.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-287.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-464.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-454.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-455.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-510.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-30.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-55.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_1"/>
		<parent link="base"/>
	</joint>
</robot>
